.message-editor__wrap {
    width: 100%;

    .flex-row(center, center);
    
    background-color: @main-color;

    padding-top: 10px;
    padding-bottom: 10px;
}

.message-editor__wrap_dark {
    .message-editor__wrap();
    background-color: @main-color_dark;
}

.message-editor {
    width: 100%;
}

.message-send-btn__wrap {
    margin-left: 10px;
    margin-right: auto;
}

.message-send-btn {
    width: 50px;
}

.message-send-btn_dark {
    .message-send-btn();

    border-color: @btn-color_dark;
    background-color: @btn-color_dark;

    &:active, &:focus, &:hover {
        border-color: @btn-hover-color_dark;
        background-color: @btn-hover-color_dark;
    }
}

.message-input__wrap {
    width: calc(100% - 100px);

    margin-left: auto;
}

.message-input {
    width: 100%;
}

.message-input_dark {
    .message-input();
    
    border: @bacground-color_dark;
    background-color: @bacground-color_dark;

    &:active, &:focus, &:hover {
        background-color: @bacground-color_dark;
        box-shadow: 0px 0px 1px 1px @btn-hover-color_dark;
    }
}


@media screen and (min-width: @sm-device) {
    .message-editor {
        width: @sm-width;
    }
}

@media screen and (min-width: @md-device) {
    .message-editor {
        width: @md-width;
    }
}

@media screen and (min-width: @lg-device) {
    .message-editor {
        width: @lg-width;
    }
}