.message-element {
    min-height: 50px;
    min-width: 100px;


    .flex-row();

    padding: 0;

    .ant-card-body{
        min-height: 50px;
        min-width: 100px;

        .flex-row();

        padding: 0;

        background-color: transparent;
    }
}

.message {
    min-height: 50px;
    min-width: 60px;
    max-width: 360px;

    .flex-row();
    
    margin-top: auto;
    margin-left: 10px;
    margin-right: auto;

    background-color: transparent;

    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
}

.message-time {
    width: 40px;

    margin-top: auto;
    margin-left: 10px;
    padding-top: auto;

    background-color: transparent;

    text-align: center;
}