.flex-column(@justify-content: space-between, @align-items: center) {
    display: flex;
    flex-direction: column;
    justify-content: @justify-content;
    align-items: @align-items;    
}

.flex-row(@justify-content: space-between, @align-items: center) {
    display: flex;
    flex-direction: row;
    justify-content: @justify-content;
    align-items: @align-items; 
}

.overflow(@scroll: @scroll-color, @width: @scroll-width, @track: @scroll-track-color) {
    overflow: auto;
    overflow-block: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: @width;
    }
    &::-webkit-scrollbar-track {
        background-color: @track;
    }
    &::-webkit-scrollbar-thumb {
        background-color: @scroll;
    }
}

.font(@color: @primary-font-color, @font-size: @primary-font-size, @font-weight: normal) {
    color: @color;
    font-family: @font-family;
    font-size: @font-size;
    font-weight: @font-weight;
}