//colors:
    //light
    @main-color: #FFFFFF;
    @main-hover-color: #efefef;
    @btn-color: #1890ff;
    @btn-hover-color: #096dd9;
    @bacground-color1: #9258E1;
    @bacground-color2: #FF986A;
    @bacground-hover-color: #d9d9d9;
    @message-color: #b7eb8f;
    @message-hover-color: #73d13d;
    @scroll-color: #55555559;
    @scroll-track-color: transparent;
    @primary-font-color: #000000;
    @secondary-font-color: #595959;
    @message-secondary-font-color: #389e0d;
    


    //dark
    @main-color_dark: #262626;
    @main-hover-color_dark: #000000;
    @main-hover-color_dark2: #434343;
    @btn-color_dark: #9254de;
    @btn-hover-color_dark: #722ed1;
    @bacground-color_dark: #141414;
    @bacground-hover-color_dark: #000000;
    @message-color_dark: #b37feb;
    @message-hover-color_dark: #9254de;
    @scroll-color_dark: #55555559;
    @scroll-track-color_dark: transparent;
    @primary-font-color_dark: #FFFFFF;
    @secondary-font-color_dark: #8c8c8c;
    @secondary-font-color_dark2: #d9d9d9;
    @secondary-font-color_dark3: #525252;
    @message-secondary-font-color_dark: #8c8c8c;


//breakpoints:
@xs-device: 250px;
@sm-device: 480px; 
@md-device: 576px; 
@lg-device: 768px; 
@xl-device: 992px; 
@xxl-device: 1200px;


//width:
@sm-width: 460px; 
@md-width: 556px; 
@lg-width: 748px; 
@xl-width: 972px; 
@xxl-width: 1100px;

@scroll-width: 5px;


//height:
@sm-height: 480px; 
@md-height: 576px; 
@lg-height: 768px; 
@xl-height: 992px; 
@xxl-height: 1200px;

//font-size:
@title-font-size: 18px;
@username-font-size: 18px;
@primary-font-size: 14px;
@secondary-font-size: 12px;

//font-family:
@font-family: 'Lato', sans-serif;