.profile-avatar__main-wrap {
    width: 100%;
    .flex-column();
    
    margin-top: 20px;
    margin-bottom: 0px;

    background-color: @main-color;
}

.profile-avatar__main-wrap_dark {
    .profile-avatar__main-wrap();

    background-color: @main-color_dark;
}

.profile-avatar__wrap {
    width: 100%;
    .flex-column();
    margin-top: 10px;
}

.profile-avatar {
    width: 200px;
    max-height: 600px;
}


@media screen and (max-width: @xs-device) {
    .profile-avatar {
        width: 100%;
        max-height: 100vh;
    }
}

@media screen and (min-width: @sm-device) {
    .profile-avatar {
        width: 300px;
        max-height: 900px;
    }
    
    .profile-avatar__main-wrap, profile-avatar__main-wrap_dark {
        width: @sm-width;
    }
}

@media screen and (min-width: @md-device) {
    .profile-avatar {
        width: 300px;
        max-height: 900px;
    }
    
    .profile-avatar__main-wrap, profile-avatar__main-wrap_dark {
        width: @md-width;
    }
}

@media screen and (min-width: @lg-device) {
    .profile-avatar {
        width: 300px;
        max-height: 900px;
    }
    
    .profile-avatar__main-wrap, profile-avatar__main-wrap_dark {
        width: @lg-width;
    }
}
