.search-field__wrap {
    width: 100%;
    
    .flex-row(center, center);

    margin: 0;

    background-color: @main-color;
}

.search-field__wrap_dark {
    .search-field__wrap();

    background-color: @main-color_dark;
}

.search-field {
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}

.search-ico__wrap {
    margin-right: 10px;
    margin-left: auto;
}

.search-ico {
    width: 16px;
}

.search-ico_dark {
    color: @secondary-font-color_dark;
}

.search__wrap {
    width: calc(100% - 200px);
    .flex-column();
    margin-right: auto;
}

.search {
    width: 100%
}

.search_dark {
    .search();

    color: @primary-font-color_dark;
    
    border: @bacground-color_dark;
    background-color: @bacground-color_dark;

    &:active, &:focus, &:hover {
        background-color: @bacground-color_dark;
        box-shadow: 0px 0px 1px 1px @btn-hover-color_dark;
    }
}

.setting-ico__wrap {
    margin-left: 20px;
}

.add-btn, .setting-btn {
    border: none;
}

.add-btn_dark, .setting-btn_dark {
    .add-btn();

    border-color: @btn-color_dark;
    background-color: transparent;

    &:active, &:focus, &:hover {
        border-color: @btn-hover-color_dark;
        background-color: transparent;

        .add-ico_dark, .setting-ico_dark {
            color: @btn-hover-color_dark;
        }
    }
}

.add-ico, .setting-ico {
    font-size: 18px;
}

.add-ico_dark, .setting-ico_dark {
    .add-ico();
    color: @secondary-font-color_dark;
}

.add-ico__wrap {
    margin-right: 20px;
}


@media screen and (max-width: @xs-device) {
    .search-field {
        .flex-column();
    }

    .search__wrap {
        width: calc(100% - 36px);
        margin-left: auto;
    }

    .search-ico__wrap {
        margin-right: auto;
        display: none;
    }

    .setting-ico__wrap {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .add-ico__wrap {
        margin-right: auto;
        margin-left: auto;
        margin-top: 8px;
    }
}


@media screen and (min-width: @sm-device) {
    .search-field {
        width: @sm-width;
    }

    .search__wrap {
        width: calc(100% - 300px);
        min-width: 200px;
        max-width: 400px;
    }
}

@media screen and (min-width: @md-device) {
    .search-field {
        width: @md-width;
    }

    .search__wrap {
        width: calc(100% - 300px);
        min-width: 200px;
        max-width: 400px;
    }
}

@media screen and (min-width: @lg-device) {
    .search-field {
        width: @lg-width;
    }

    .search__wrap {
        width: calc(100% - 300px);
        min-width: 200px;
        max-width: 400px;
    }
}